__pycache__
results
*.pyc
/gifs/
build
win_rate
*.so
*.csv
RODE
*.egg-info
wandb
.vscode
api
logs
.nfs*
*.so
.idea
models
model/
tensorboard/
**.npz
**.pt
**.pkl
**.rar
**.zip
**.7z
only_temp.py
one.py
/test/temp
**.png